*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: rgb(47, 43, 43);
    color: antiquewhite;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 1ren;
    background-color: rgb(82, 67, 67);
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    max-width: 600px;
}
h1{
    font-size: 2ren;
}
.user-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
}
.user-input-container{
    display: flex;
    justify-content: space-between;
}
#user-input{
    width: 80%;
    padding: 0.4ren;
    border-radius: 8px;
}
#search-button{
    padding: 4px;
    border-radius: 4px;

}
.stats-container{
    display: hidden;
}
.circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid rgb(31, 136, 31);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    columns: white;
    font-weight: 600;
    background: conic-gradient(rgb(7, 48, 7) var(--progress-degree,0%),rgb(8, 43, 8) 0%);
}
    
.circle span{
    position: relative;
    z-index: 2;
}
.progress{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5px;
}
.stats-cards{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
}

h4{
    font-size: 1rem;
}

.card{
    background-color: rgb(230, 146, 44);
    width: 40%;
    max-width: 290px;
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem;
    min-height: 4rem;
}